@font-face {
    font-family: SourceSansPro-Regular;
    src: url("fonts/SourceSansPro-Regular.otf");
}

@font-face {
    font-family: SourceSansPro-Light;
    src: url("fonts/SourceSansPro-Light.otf");
}

@font-face {
    font-family: SourceSansPro-Semibold;
    src: url("fonts/SourceSansPro-Semibold.otf");
}

@font-face {
    font-family: SourceSansPro-It;
    src: url("fonts/SourceSansPro-It.otf");
}


body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.jumbotron {
  margin-top: 20px;
}

/*.teamdescription{
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 14px !important;
  color: white;
}*/

.contenttext{
  font-size: 18px !important;
    font-family: "SourceSansPro-Regular", sans-serif;
    font-weight: normal;
    color: #4d4f53;
    margin: 0;
    padding: 0;
}

h1.contentheading{
  font-size: 24px !important;
  font-weight: 500;
}

.landingphoto{
   z-index: 1;
   height: 78%;
}

/*.landingtext{
   z-index: 2;
   position: relative;
   background-color: rgba(77,70,83,0.8);
   height: 100%;
    width: 40%;
}

.accessbutton{
  background-image: url(images/systemmonitor.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 39%;
}*/

/*.bigbutton {
   border-top: 1px solid #ff2e2e;
   background: #c20000;
   background: -webkit-gradient(linear, left top, left bottom, from(#850000), to(#c20000));
   background: -webkit-linear-gradient(top, #850000, #c20000);
   background: -moz-linear-gradient(top, #850000, #c20000);
   background: -ms-linear-gradient(top, #850000, #c20000);
   background: -o-linear-gradient(top, #850000, #c20000);
   padding: 9.5px 19px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.bigbutton:hover {
   border-top-color: #750000;
   background: #750000;
   color: #ccc;
   }
.bigbutton:active {
   border-top-color: #7d0000;
   background: #7d0000;
   }*/
.bigbutton {
    color : #fff;
    font-family: "SourceSansPro-Semibold", sans-serif;
    background-color: #300854;
    text-decoration : none;
    font-size: 20px;
    text-transform: uppercase;
    /*letter-spacing: 0.025em;
    word-spacing: 0.25em;*/
}
a:link.bigbutton {
    color : #fff;
    background-color: #300854;
    text-decoration : none;
    padding: 12px;
    }

a:visited.bigbutton { 
    color : #fff;
    background-color: #300854;
    text-decoration : none;
    padding: 12px;
    }

a:hover.bigbutton { 
    color : #fff;
    background-color: #300854;
    text-decoration : none;
    padding: 12px;
    }

a:active.bigbutton { 
    color : #fff;
    background-color: #300854;
    text-decoration : none;
    padding: 12px;
    }


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.landingtable {
   border: 1px solid white;
   padding: 0px;
    margin-left:auto; 
    margin-right:auto;
}

/*.appphoto{
  background-image: url("images/systemmonitor.png");
  background-repeat: no-repeat;
  background-size: 300 225px;
  height: 200px;
  width: 300px;
}

.discovertile{
  background-color: rgba(140,21,21,1.0);
  height: 200px;
  width: 300px;
}*/

.tiletext{
  padding: 30px 10px 10px 10px;
}

.tiletextskypadding{
  padding: 160px 40px 40px 40px;
}

.buttontext{
  padding: 30px 10px 10px 10px;
}

.buttoncenter{
  text-align: center;
}

/*.descriptionheading{
    color: white;
    font-size: 20px !important;
    font-weight: 500;
}*/

.descriptiontext{
    font-family: "SourceSansPro-Light", sans-serif;
    color: white;
    font-size: 18px !important;
    line-height 25px !important;
    font-weight: 100 !important;
}

/*.discovertext{
    color: white;
    font-size: 18px !important;
    line-height 25px !important;
    font-weight: 500 !important;
    text-align: center;
}*/

.tiletextsky{
   z-index: 2;
   position: relative;
   background-color: rgba(77,70,83,0.9);
   height: 100%;
   width: 100%;
}

.jumbotron{
   background-color: rgba(255,255,255,1.0);
}

.logoname{
    font-family: "SourceSansPro-Light", sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #4d4f53;
}

.footer {
  position: relative;
  /*bottom: 0px;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  border-top: 1px solid #300854;
  margin: 100px 0px 0px 0px !important;
}

.footerlink {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #4d4f53;
    padding: 0;
    margin: 0;
}

.footerlink:hover {
    color: #007c92;
}

.nav {
    text-transform: uppercase;
    font-size: 18px;
    font-family: "SourceSansPro-Regular", sans-serif;
    
}

.headshotrow {
    display: table;
}

.headshotcell {
    float: none;
    display: table-cell;
    vertical-align: top;
    border: solid 1px #4d4f53;
    background-color: #53284f; 
}

.headshottextname {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size: 14px !important;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 0px 0px 0px;
    margin: 0;
}

.headshottexttitle {
    font-family: "SourceSansPro-Light", sans-serif;
    font-size: 12px !important;
    font-weight: normal;
    color: #ffffff;
    padding: 0;
    margin: 0;
}


@media(max-width:990px){
    .headshottextname {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size: 10px !important;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 0px 0px 0px;
    margin: 0;
}

.headshottexttitle {
    font-family: "SourceSansPro-Light", sans-serif;
    font-size: 8px !important;
    font-weight: normal;
    color: #ffffff;
    padding: 0;
    margin: 0;
}
}

h3 {
  font-family: "SourceSansPro-Semibold", sans-serif !important;
}

h4 {
  font-family: "SourceSansPro-Regular", sans-serif !important;
}

li {
  font-family: "SourceSansPro-Regular", sans-serif;
}

.footertext {
    font-family: "SourceSansPro-Light", sans-serif;
    font-size: 12px !important;
    font-weight: normal;
    color: #4d4f53;
    padding: 0;
    margin: 0;
    text-align: center;
}

.betawarning{
    font-family: "SourceSansPro-Semibold", sans-serif;
    font-size: 20px !important;
    font-weight: normal;
    text-transform: uppercase;
    color: red;
    padding: 0;
    margin: 0;
}
.col-center{
  margin:0 auto;
}
.appsnav {
  color: #ffffff !important;
  background-color: #007c92;
}

.emphasisbox{
  background-color: #007c92;
}
