
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic' rel='stylesheet' type='text/css'>
    <!--<link rel="icon" href="favicon.ico">-->

    <title>HPPD Domestic Violence Predictor</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='./css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='./css/navbar.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['', 'Risk', { role: 'style' }, { role: 'annotation' }],
          ['',  {{p}}, 'red', '{{p}}%'],
        ]);

        var options = {
          title: 'Violent Crime Risk',
            legend: 'none',
            bar: {groupWidth: "90%"},
            'width':600,
            'height':100,
            hAxis: { 
              viewWindow:{
                max:120,
                min:0
              }}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
      
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('show_index') }}">Home</a></li>
              <li><a href="{{ url_for('show_map') }}">Map</a></li>
              <li class="active"><a href="{{ url_for('calls') }}">Call Response</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://www.high-point.net/police/">HPPD</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="row text-center">
          <img src="{{ url_for('static', filename='./images/logo.png') }}">
      </div>
        <div class="row text-center">
                <p class="logoname">Call Response Risk Rating</p></div>
        <div>
            <div class="emphasisbox">
                <div class="col-sm-offset-2 col-sm-8 "><h3>Address Residents</h3></div>
                <div class="col-sm-offset-2 col-sm-2 "><img width="100%" src="{{ url_for('static', filename='./images/mugshots-philadelphia.jpg') }}"></div>
                <div class="col-sm-6"><p class="contenttext">{{ name }}, 24, M</p></div>
            </div>
                <div class="col-sm-offset-2 col-sm-8 "><h3>Current Risk</h3></div>
                <br><br><br>
                <div class="col-sm-offset-2 col-sm-8 "id="chart_div" style="width: 600px; height: 100px;"></div> 
            
            <br><br><br>
            
            <div class="col-sm-offset-2 col-sm-8">
                <h3>Past Events</h3>
                <table width="100%" border="1">
                    <tr>
                        <td width="20%"><b>Date</b></td>
                        <td width="20%"><b>Record Type</b></td>
                        <td width="60%"><b>Details</b></td>
                    </tr>
                    <tr>
                      {% for date, record, detail in dates_records_details %}
                        <td>{{ date }}</td><td>{{ record }}</td><td>{{ detail }}</td>
                    </tr>
                  {% endfor %}             
                </table>
            </div>
            
            </div>
      <div class="jumbotron">
          
      </div>
    
        <div class="col-xs-12 footer">
            <!--<p><a class="footerlink" href="aboutus.html">About Us</a>&emsp;
            <a class="footerlink" href="projects.html">Projects</a>&emsp;
            <a class="footerlink" href="contact.html">Contact</a></p>-->
            <p class="betawarning">BETA</p>
            <p class="footertext">Bayes Impact Hackathon<br>&copy; 2014</p>
        </div>
    
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='./js/bootstrap.min.js') }}"></script>
  </body>
</html>
